@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
:root {
  --fg-text: #d6d6d6;
  --dark: #014848;
  --links: #00943e;
  --title-shadow: #afafaf4a;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--dark);
}

.left-side {
  display: flex;
  flex-direction: column;
  background-image: url(assets/elephant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  min-width: 35%;
  align-items: center;
}

.title {
  background-color: var(--title-shadow);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fg-text);
  font-size: 10rem;
  top: 30vh;
  width: 100%;
}

.copy {
  display: flex;
  position: absolute;
  bottom: 3rem;
  color: var(--fg-text);
  font-size: .85rem;
}

.copy a{
  text-decoration:underline;
  color: var(--fg-text);
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 65%;
}

#sign-Up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
}

#form-title {
  font-size: 5rem;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  color: var(--fg-text);
}

.log-in {
  text-decoration: none;
  color: var(--links);
  font-weight: 600;
}
